.saved-cities {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .city-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: baseline;
    --background: #202B3B;
    color: var(--ion-color-primary-contrast);
    border-radius: 15px;
    h1 {
      font-size: 2rem;
      color: var(--ion-color-primary-contrast);
    }
    .temp {
      font-size: 2rem;
    }
  }
}
