<div class="saved-cities">
  <ion-card class="city-card">
      <ion-icon class="forecast-per-day_icon"
                name="rainy"
                size="large"></ion-icon>
      <ion-card-title>
        <h1>Madrid</h1>
      </ion-card-title>
      <ion-text>
        <p class="temp">36</p>
      </ion-text>
  </ion-card>
  <ion-card class="city-card">
    <ion-icon class="forecast-per-day_icon"
              name="rainy"
              size="large"></ion-icon>
    <ion-card-title>
      <h1>Madrid</h1>
    </ion-card-title>
    <ion-text>
      <p class="temp">36</p>
    </ion-text>
  </ion-card>
  <ion-card class="city-card">
    <ion-icon class="forecast-per-day_icon"
              name="rainy"
              size="large"></ion-icon>
    <ion-card-title>
      <h1>Madrid</h1>
    </ion-card-title>
    <ion-text>
      <p class="temp">36</p>
    </ion-text>
  </ion-card>
  <ion-card class="city-card">
    <ion-icon class="forecast-per-day_icon"
              name="rainy"
              size="large"></ion-icon>
    <ion-card-title>
      <h1>Madrid</h1>
    </ion-card-title>
    <ion-text>
      <p class="temp">36</p>
    </ion-text>
  </ion-card>
</div>
