.main-tab {
  background-color: #0B131E;
  color: #F0F1F1;
  ion-content {
    --background: #0B131E;
  }
  ion-img {
    width: 100px;
    height: 100px;
  }
  ion-header {
    border: none;
    box-shadow: none;
    border-radius: 0 0 30px 30px;
    --background: #0B131E;
    text-align: center;
    padding: 40px 10px;
  }
  .text-content {
    --background: #0B131E;
  }
  .location-name {
    h1 {
      color: #eee;
      font-weight: bolder;
      font-size: 2rem;
    }
    .current-dt, .current-time {
      font-size: 1rem;
      color: #4F5660;
    }
  }
  .temperature-degree {
    font-size: 2rem;
    font-weight: 800;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  ion-content {
    --offset-bottom: 100% !important;
  }
}
