<div class="main-tab" *ngIf="!isLoading && todayWeatherInfo && weatherInfo">
  <ion-header [translucent]="false">
    <div class="text-content">
      <ion-text class="location-name">
        <h1>{{userLocationName}}</h1>
        <p class="current-dt">{{todayWeatherInfo.Date| date:'fullDate'}}</p>
      </ion-text>
      <ion-img [alt]="todayWeatherInfo.Day.IconPhrase"
                [src]="getWeatherIconImg(todayWeatherInfo.Day.Icon)"></ion-img>
      <ion-text>
        <p class="temperature-degree">{{todayWeatherInfo.Temperature.Maximum.Value}}°{{todayWeatherInfo.Temperature.Maximum.Unit}}</p>
      </ion-text>
    </div>
  </ion-header>
  <ion-content>
    <app-forecast-section [dailyForecastWeather]="weatherInfo.DailyForecasts"></app-forecast-section>
  </ion-content>

</div>
<ion-loading show-backdrop="true"
             css-class="loader"
             [isOpen]="isLoading"
             spinner="dots">
</ion-loading>
