.forecast-section {
  &__tabs-content {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
  }
  ion-segment {
    padding: 0 15px;
  }
  ion-card {
    --background: #202B3B;
    border-radius: 15px;
    width: 100%;
    padding: 5px 0;
  }
  ion-card-title {
    color: #9399A2;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .data-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 20px;
    gap: 15px;
  }
  .separator {
    height: 80px;
    width: 1px;
    background-color: #9399A2;
    border: 1px solid #9399A2;
  }
  .forecast-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    color: #9399A2;
    &_label {
      display: flex;
      align-items: center;
      gap: 5px
    }
    &_icon {
      &.water {
        color: var(--ion-color-primary);
      }
      &.sun {
        color: var(--ion-color-warning);
      }
    }
    &_label, &_value {
      font-size: 1rem;
    }
  }
  .days-list {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    gap: 25px;
  }
  .forecast-per-day {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
    border-bottom: 1px solid #9399A2;
    color: #9399A2;
    &:last-of-type {
      border-bottom: none;
    }
    ion-img {
      width: 50px !important;
      height: 50px !important;
    }
    &_desc {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 55%;
      font-size: 1rem;
    }
    &_day, &_temperature {
      font-size: 1rem;
    }
  }
  .future-card {
    margin-bottom: 30px;
  }
  ion-label {
    color: var(--ion-color-primary-contrast);
  }

  ion-segment-button::part(indicator-background) {
    background: var(--ion-color-primary-contrast);
  }

  /* Material Design styles */
  ion-segment-button.md::part(native) {
    color: #000;
  }

  .segment-button-checked.md::part(native) {
    color: var(--ion-color-primary-contrast);
  }

  ion-segment-button.md::part(indicator-background) {
    height: 3px;
  }

  /* iOS styles */
  ion-segment-button.ios::part(native) {
    color: var(--ion-color-primary-contrast);
  }

  .segment-button-checked.ios::part(native) {
    color: #fff;
  }

  ion-segment-button.ios::part(indicator-background) {
    border-radius: 20px;
  }
}
