<div class="forecast-section">
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="today">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tomorrow">
      <ion-label>Tomorrow</ion-label>
    </ion-segment-button>
    <ion-segment-button value="7 days">
      <ion-label>4 days</ion-label>
    </ion-segment-button>
  </ion-segment>
    <div [ngSwitch]="type"
         class="forecast-section__tabs-content">
      <app-forecast-details-card *ngSwitchCase="FORECAST_OPTIONS.TODAY"
                                 [forecastDetails]="dailyForecastWeather[0]"
                                 cardTitle="Today's Forecast"></app-forecast-details-card>
      <app-forecast-details-card *ngSwitchCase="FORECAST_OPTIONS.TOMORROW"
                                 [forecastDetails]="dailyForecastWeather[1]"
                                 cardTitle="Tomorrow's Forecast"></app-forecast-details-card>
      <ion-card *ngSwitchCase="FORECAST_OPTIONS.FUTURE"
                class="future-card">
        <ion-card-header>
          <ion-card-title>Next 4 Days' Forecast</ion-card-title>
        </ion-card-header>
        <ion-card-content class="days-list">
          <div class="forecast-per-day" *ngFor="let day of dailyForecastWeather | slice: 1: 5">
            <p class="forecast-per-day_day">{{day.Date | date: 'EEE'}}</p>
            <p class="forecast-per-day_desc">
              <ion-img [alt]="day.Day.IconPhrase"
                       [src]="getWeatherIconImg(day.Day.Icon)"></ion-img> {{day.Day.IconPhrase}}</p>
            <p class="forecast-per-day_temperature">
              <span class="high-temp">{{Math.round(day.Temperature.Maximum.Value)}}°</span> /{{Math.round(day.Temperature.Minimum.Value)}}°
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
</div>
