<div class="forecast-section">
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="today">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tomorrow">
      <ion-label>Tomorrow</ion-label>
    </ion-segment-button>
    <ion-segment-button value="7 days">
      <ion-label>7 days</ion-label>
    </ion-segment-button>
  </ion-segment>
    <div [ngSwitch]="type" class="forecast-section__tabs-content">
      <ion-card *ngSwitchCase="FORECAST_OPTIONS.TODAY">
        <ion-card-header>
          <ion-card-title>Today's Forecast</ion-card-title>
        </ion-card-header>
        <ion-card-content class="hours-list">
          <div class="forecast-per-hour">
            <p class="forecast-per-hour_time">2:00 PM</p>
            <ion-icon class="forecast-per-hour_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-hour_temperature">
              10
            </p>
          </div>
          <span class="separator"></span>
          <div class="forecast-per-hour">
            <p class="forecast-per-hour_time">2:00 PM</p>
            <ion-icon class="forecast-per-hour_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-hour_temperature">
              10
            </p>
          </div>
          <span class="separator"></span>
         <div class="forecast-per-hour">
           <p class="forecast-per-hour_time">2:00 PM</p>
           <ion-icon class="forecast-per-hour_icon" name="rainy" size="large"></ion-icon>
           <p class="forecast-per-hour_temperature">
             10
           </p>
         </div>
        </ion-card-content>
      </ion-card>
      <ion-card *ngSwitchCase="FORECAST_OPTIONS.TOMORROW">
        <ion-card-header>
          <ion-card-title>Tomorrow's Forecast</ion-card-title>
        </ion-card-header>
        <ion-card-content class="hours-list">
          <div class="forecast-per-hour">
            <p class="forecast-per-hour_time">2:00 PM</p>
            <ion-icon class="forecast-per-hour_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-hour_temperature">
              10
            </p>
          </div>
          <span class="separator"></span>
          <div class="forecast-per-hour">
            <p class="forecast-per-hour_time">2:00 PM</p>
            <ion-icon class="forecast-per-hour_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-hour_temperature">
              10
            </p>
          </div>
          <span class="separator"></span>
          <div class="forecast-per-hour">
            <p class="forecast-per-hour_time">2:00 PM</p>
            <ion-icon class="forecast-per-hour_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-hour_temperature">
              10
            </p>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card *ngSwitchCase="FORECAST_OPTIONS.FUTURE" class="future-card">
        <ion-card-header>
          <ion-card-title>7 day  Forecast</ion-card-title>
        </ion-card-header>
        <ion-card-content class="days-list">
          <div class="forecast-per-day">
            <p class="forecast-per-day_day">Today</p>
            <ion-icon class="forecast-per-day_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-day_desc">Sunny</p>
            <p class="forecast-per-day_temperature">
              <span class="high-temp">37</span> /10
            </p>
          </div>
          <div class="forecast-per-day">
            <p class="forecast-per-day_day">Today</p>
            <ion-icon class="forecast-per-day_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-day_desc">Sunny</p>
            <p class="forecast-per-day_temperature">
              <span class="high-temp">37</span> /10
            </p>
          </div>
          <div class="forecast-per-day">
            <p class="forecast-per-day_day">Today</p>
            <ion-icon class="forecast-per-day_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-day_desc">Sunny</p>
            <p class="forecast-per-day_temperature">
              <span class="high-temp">37</span> /10
            </p>
          </div>
          <div class="forecast-per-day">
            <p class="forecast-per-day_day">Today</p>
            <ion-icon class="forecast-per-day_icon" name="rainy" size="large"></ion-icon>
            <p class="forecast-per-day_desc">Sunny</p>
            <p class="forecast-per-day_temperature">
              <span class="high-temp">37</span> /10
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
</div>
